/*$colorprincipal :  rgba(44, 45, 109, 0.9); 
$colorsecundario : rgba(8, 7, 26, 0.9);
$fondo : rgb(84, 99, 136);*/
/*url("../image/fondo.jpg")*/
/*url("../image/fondo.jpg")*/
$fondo : rgb(84, 99, 136);

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@200&family=Russo+One&family=Space+Mono:wght@700&display=swap');
@import "./particiones/variables";
@import "./particiones/header";
@import "./particiones/main";
@import "./particiones/nosotros";
@import "./particiones/contacto";
@import "./particiones/footer";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background: $colortercero;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  

}
/**********header************/










  /**********formulario contacto************/


/**********fin formulario contacto************/


  /**********footer************/



