@charset "UTF-8";
/*$colorprincipal :  rgba(44, 45, 109, 0.9); 
$colorsecundario : rgba(8, 7, 26, 0.9);
$fondo : rgb(84, 99, 136);*/
/*url("../image/fondo.jpg")*/
/*url("../image/fondo.jpg")*/
/*url("../image/fondo.jpg")*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@200&family=Russo+One&family=Space+Mono:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(56deg, rgba(239, 240, 255, 0.7413340336) 100%, rgb(194, 207, 255) 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background: linear-gradient(56deg, rgba(22, 17, 93, 0.7413340336) 28%, rgb(212, 221, 255) 100%);
  top: 0;
}
header .menu-sm {
  display: none;
}
header .cabecera nav {
  list-style: none;
  display: fixed;
  flex-wrap: wrap;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  header .cabecera nav .logo {
    margin-right: 3.5rem;
    text-decoration: none;
  }
}
header .cabecera nav .menu {
  list-style: none;
  display: fixed;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: start;
  transition: 1s;
}
header .cabecera nav .menu li a {
  font-family: "Bebas Neue", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem;
}
header .cabecera nav .menu li a:hover {
  color: rgb(201, 201, 201);
  background-color: linear-gradient(56deg, rgba(22, 17, 93, 0.7413340336) 28%, rgb(212, 221, 255) 100%);
}
@media (max-width: 800px) {
  header .cabecera nav .menu {
    display: none;
  }
}
@media (max-width: 800px) {
  header {
    /* Estilos para el menú */
    /* Estilos para el botón del menú */
    /* Estilos para el contenido del menú desplegable */
    /* Estilos para los elementos dentro del menú desplegable */
    /* Cambia el color del enlace cuando se pasa el mouse por encima */
    /* Muestra el menú desplegable cuando el botón se enfoca o se pasa el mouse por encima */
  }
  header .menu-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed center;
  }
  header .dropdown-btn {
    background-image: rgba(36, 32, 94, 0.9);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
  }
  header .dropdown-content {
    display: none;
    background-image: rgba(36, 32, 94, 0.9);
    width: 100%;
    z-index: 1;
  }
  header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  header .dropdown-content a:hover {
    background-color: #ddd;
  }
  header .dropdown:hover .dropdown-content {
    display: block;
  }
}

.titulo-xl h2 {
  padding: 1rem 0 1rem 0;
  color: rgb(0, 0, 0);
  background: rgba(243, 242, 242, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.7s;
}

.titulo-sm {
  display: none;
}

@media (max-width: 800px) {
  .titulo-xl {
    display: none;
  }
  .titulo-sm {
    padding: 1rem 0 1rem 0;
    color: rgb(0, 0, 0);
    background: rgba(243, 242, 242, 0.9);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
main .cuerpo {
  height: 100vh; /*VH significa viewport height altura maxima de la pantalla(altura del dispositivo). También funciona como porcentaje, especificar 10vh es equivalente a ocupar 10% de la*/
  display: grid;
  /*grid-template-columns: 25% 25% 25% 25% /*aqui le digo cuantas columnas si pongo 2 vecex 100px son 2 columnas de 100 px*/
  /*grid-template-rows: 200px 200px; /*aqui le digo cuantas filas va a tener, si pongo 2 veces 200px seran 2 filas*/
  grid-template-columns: 1fr 1fr; /*aqui divido las columnas en fraccion 1fr = 1 fraccion si son 5 columnas cada fraccion son 20%*/
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "izquierda derecha" "izquierda-abajo derecha-abajo";
  gap: 1rem 1rem; /*para darle separacion*/
  background: #c2ccf2;
  border-radius: 3%;
  margin-bottom: 1rem;
}
main .contenido-izquierda {
  grid-area: izquierda;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
main .contenido-izquierda:hover {
  color: rgb(201, 201, 201);
  background-color: rgba(36, 32, 94, 0.9);
  text-decoration: none;
  border-radius: 100;
}
main .contenido-izquierda h1 {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
main .contenido-izquierda a {
  text-decoration: none;
}
main .contenido-derecha {
  grid-area: derecha;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
main .contenido-derecha:hover {
  background: rgba(36, 32, 94, 0.9);
}
main .contenido-derecha h1 {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
main .contenido-derecha a {
  text-decoration: none;
}
main .contenido-abajo-izquierda {
  grid-area: izquierda-abajo;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
main .contenido-abajo-izquierda:hover {
  color: rgb(201, 201, 201);
  background-color: rgba(36, 32, 94, 0.9);
  text-decoration: none;
  border-radius: 100;
}
main .contenido-abajo-izquierda h1 {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
main .contenido-abajo-izquierda a {
  text-decoration: none;
}
main .contenido-abajo-derecha {
  color: black;
  grid-area: derecha-abajo;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
main .contenido-abajo-derecha:hover {
  background: rgba(36, 32, 94, 0.9);
}
main .contenido-abajo-derecha h1 {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}
main .contenido-abajo-derecha a {
  text-decoration: none;
}
@media (max-width: 800px) {
  main .cuerpo {
    height: 100vh; /*VH significa viewport height altura maxima de la pantalla(altura del dispositivo). También funciona como porcentaje, especificar 10vh es equivalente a ocupar 10% de la*/
    display: grid;
    /*grid-template-columns: 25% 25% 25% 25% /*aqui le digo cuantas columnas si pongo 2 vecex 100px son 2 columnas de 100 px*/
    /*grid-template-rows: 200px 200px; /*aqui le digo cuantas filas va a tener, si pongo 2 veces 200px seran 2 filas*/
    grid-template-columns: 1fr; /*aqui divido las columnas en fraccion 1fr = 1 fraccion si son 5 columnas cada fraccion son 20%*/
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "izquierda" "derecha" "izquierda-abajo" "derecha-abajo";
    gap: 1rem 1rem; /*para darle separacion*/
  }
  main .container {
    padding-bottom: 20%;
  }
}

/*url("../image/fondo.jpg")*/
.contenido-nosotros {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.cuerpo-nosotros .contenedor {
  background: linear-gradient(56deg, rgba(22, 17, 93, 0.7413340336) 28%, rgb(212, 221, 255) 100%);
  padding: 40px;
  margin: 20px;
  border-radius: 10%;
}
.cuerpo-nosotros .contenedor p {
  font-size: 20px;
  color: black;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgba(20, 17, 61, 0.9);
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #44a4ab;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #448aab;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: rgba(54, 51, 90, 0.9);
  border-color: #315a81;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

span {
  color: #ca043f;
}

.aviso {
  font-size: 13px;
  color: #ffffff;
}

.titulo-formulario {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: white;
}

.subtitulo-formulario {
  font-size: 16px;
  padding-bottom: 30px;
  color: white;
}

p {
  font-size: 14px;
  color: white;
}

::-webkit-input-placeholder {
  color: 1px solid #4892d8;
}

::-webkit-textarea-placeholder {
  color: 1px solid #4892d8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #4892d8;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px 1px solid #4892d8;
}

/*url("../image/fondo.jpg")*/
.pie {
  padding: 20px;
  background: rgba(36, 32, 94, 0.9);
}
.pie .rrss ul a {
  text-decoration: none;
}

/*url("../image/fondo.jpg")*/
main .caja {
  padding-top: 20px;
}
main .caja .caja_cajas .caja_cajas_cajitas {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .caja .caja_cajas .caja_cajas_cajitas .descripcion {
  display: none;
}
main .caja .caja_cajas .caja_cajas_cajitas .caja_boton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
main .caja .caja_cajas .caja_cajas_cajitas .caja_boton .caja_imagen {
  border-radius: 20%;
  background-image: linear-gradient(56deg, rgba(239, 238, 255, 0.7413340336) 1%, rgb(194, 207, 255) 100%);
  width: 180px;
  height: 180px;
}
main .caja .caja_cajas .caja_cajas_cajitas .caja_boton .caja_imagen:hover {
  width: 200px;
  height: 200px;
  border: solid rgb(85, 47, 255) 2px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .caja .caja_cajas .caja_cajas_cajitas .caja_boton:hover {
  transition: 0.7s;
}
main .caja .caja_cajas .caja_cajas_cajitas:hover .descripcion {
  transition: 1s;
  display: flex;
}
main .caja .caja_cajas .caja_cajas_cajitas:hover .descripcion .descripcion_ia {
  padding: 10px;
  font-size: 13px;
  background: linear-gradient(56deg, rgba(22, 17, 93, 0.7413340336) 28%, rgb(212, 221, 255) 100%);
  font-family: "Courier New", Courier, monospace;
  height: 200px;
  width: 400px;
  border-radius: 5%;
  transform: translate(-300px, 15px);
  position: absolute;
  color: black;
}

main .noticias iframe {
  height: 100vh;
  width: 100%;
}

/**********header************/
/**********formulario contacto************/
/**********fin formulario contacto************/
/**********footer************//*# sourceMappingURL=style.css.map */