$colorprincipal : rgba(20, 17, 61, 0.9); 


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:wght@200&family=Russo+One&family=Space+Mono:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-image: url("../image/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  

}
/**********header************/

@import "./particiones/header";
@import "./particiones/main";
@import "./particiones/footer";
@import "./particiones/nosotros";
@import "./particiones/contacto"









  /**********formulario contacto************/


/**********fin formulario contacto************/


  /**********footer************/



