@import "./variables";
main
{
    .caja

    {
        padding-top: 20px;
              
        .caja_cajas
        {
            
            
         .caja_cajas_cajitas
         {
            @include flex (center,center);
            
            
            .caja_boton 
            { 
                
                @include flex (center,center);

                width: 200px;
                height: 200px;
                
                .caja_imagen
               {

<<<<<<< HEAD
                border-radius: 5%;
=======
                border-radius:20%;
>>>>>>> staging
                background-image: $colorboton;
                width: 180px;
                height: 180px;

               }
               .caja_imagen:hover
               {
                
                width: 200px;
                height: 200px;
                border: solid rgb(85, 47, 255) 2px;

               }
             
           
            }
            
            
         }

        }
    }
}