main
{
 .ias
 {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
    p
    {
        transition: 1s;
        font-size: 22px;

    }
    .img
    {
        transition: 1s;

    }
    
 }
 @media (max-width:800px)  
 {
    .ias
    
    {
        margin-top: 2rem;
        gap: 1rem;
        margin-left: 2rem;
        width: 80vw;

        a
    {
        img
        {
            width: 80vw;
        }
    }

    }
    
    
    
    
 }
}