main
{
    .caja
    {
        padding: 20px;
        
        .caja_cajas
        {
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding: 5px;
         .caja_cajas_cajitas
         {
            background-color: pink;
            height: 200px;
            width: 200px;
         }
         .caja_cajas_cajitas:hover
         {
            background-color: red;
            height: 200px;
            width: 200px;
         }

         @media (max-width:800px) 
         {
            
         }
        }
    }
}