@import "./variables";
.contenido-nosotros 
 {

    

    
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

  }
  .cuerpo-nosotros .contenedor{
    background:$colorprincipal;
    padding: 40px;
    margin: 20px;
    border-radius: 10%;
    p
    {
      font-size: 20px;
      color: black;
    }
    


  }